html{
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
    height: 100px;
}
.navigation{
    border: 4px solid black;
    display: flex;
    flex-direction: row;
    padding-left: 87%;
    position:fixed;
    top:8px;
}
a{
    padding: 10px;
    text-decoration: none;
    color: darkgreen;
}
b{
    padding: 10px;
    text-decoration: none;
    color: darkgreen;
}
.title{
    text-align: center;
    color: darkgreen;
    font-family: 'space groteks', sans-serif;
    font-size: 30px;
    padding-top: 5px;
    padding-left: 3px;

}
.splash{
    text-align: center;
}
body{
    background-color: rgb(255, 255, 255);
    border: 5px solid black;
    position: sticky;

}
.intro{
    text-align: center;
}
h2{
    position:fixed;
    color:darkgreen;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 43%;
    padding-left: 45%;
}



@media screen and (max-width: 800px){
    .splash{
        scale: 90%;
        padding-right: 10px;
        flex-direction: column;
        display: flex;

    }
    .navigation{
        padding-left:72% ;
        font-size: 20px;

    }
    body{
        width:97%;
        border: 5px solid black;
        height: 1000%;
    }
    .intro{
        padding-left: 15px;
        text-align: left;
        font-size: large;
    }

    h2{
        font-size: medium;
        padding-top: 900px;
        padding-left: 43%;
    }
    .title{
        font-size: 20px;
    }
}
@media screen and (max-width:400px){
    .splash{
        scale: 80%;
        padding-left: 0px;

    }
    .navigation{
        padding-left:44% ;
        font-size: 20px;

    }
    body{
        width:93%;
        border: 5px solid black;
        height: 800%;
    }
    .intro{
        padding-left: 10px;

    }
    h2{
        font-size: medium;
        padding-top: 195%;
        padding-left: 35%;
    }
    .title{
        font-size: 20px;
    }
}