html{
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
    height: 100px;
}

.navigation{
    border: 4px solid black;
    display: flex;
    flex-direction: row;
    padding-left: 87%;
    position:fixed;
    top:8px;
}
a{
    padding: 10px;
    text-decoration: none;
    color: black;
}
b{
    padding: 10px;
    text-decoration: none;
    color:darkgreen;
}
.title{
    position: fixed;
    font-family: 'space groteks', sans-serif;
    font-size: 30px;
    padding-top: 5px;
    padding-left: 3px;
    color: black;
}
body{
    background-color: rgb(255, 255, 255);
    border: 5px solid black;
    position: sticky;
    width: 1500px;
    height: 1000%;
    top: 20px;    
}
.images{
    padding-left: 25%;
    display: grid;
    grid-template-columns: 214.34px 214.34px 214.34px;
    grid-template-rows: auto auto;
    grid-gap:30px;  
    grid-auto-flow: dense;
    padding-top: 40px;

}
h2{
    position:fixed;
    color:darkgreen;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 43%;
    padding-left: 45%;
}

@media screen and (max-width: 800px){
    .navigation{
        padding-left:72.6% ;
        font-size: 20px;

    }
    body{
        width:97%;
        border: 5px solid black;
        height: 1000%;
    }
    .intro{
        padding-left: 0px;
    }

    h2{
        font-size: medium;
        padding-top: 900px;
        padding-left: 43%;
    }
    .title{
        font-size: 20px;
    }

    .images{

        padding-left: 10px;
        scale: 80%;
    }
}
@media screen and (max-width:400px){

    body{
        width:93%;
        border: 5px solid black;
        height: 2060%;
    }
    .intro{
        padding-left: 0px;
    }

    .images{
        display: flex;
        flex-direction: column;
        padding-left: 20%;

    }
    h2{
        font-size: medium;
        padding-top: 195%;
        padding-left: 35%;
    }
    .title{
        font-size: 20px;
    }
    .navigation{
        padding-left:44% ;
        font-size: 20px;
        z-index: 100;

    }
}
